<template name="home">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" id="btn_updateCategories">
                Cập nhật danh mục
            </button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tên danh mục</th>
                        <th>Liên kết</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each sstruyen_categories}}
                        <tr>
                            <td>{{title}}</td>
                            <td><a id="btn_{{_id}}" href="#" data-id={{_id}} data-href="{{url}}" class="btn btn-success">
                                Chi tiết
                            </a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<template name="home_detail">
    <div class="row">
        <div class="col-md-12">
            <button id="btn_testio">Test IO</button>
            &nbsp;
            <button class="btn btn-danger" id="btn_getXRay">
                X-Ray
            </button>
        </div>
    </div>
    {{> display_stories}}
</template>

<template name="display_stories">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Tiêu đề</th>
                        <th>Chương</th>
                        <td>Tags</td>
                        <th>Tác giả</th>
                        <th>Hot</th>
                        <th>Full</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each stories}}
                        <tr>
                            <td><img src="{{thumbnail}}" alt="{{title}}" width="50" height="65"/></td>
                            <td>{{title}}</td>
                            <td>{{chapters}}</td>
                            <td>{{tags}}</td>
                            <td>{{author_name}}</td>
                            <td>{{is_hot}}</td>
                            <td>{{is_full}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>